<ion-header>
  <ion-navbar color="primary">
    <ion-title>板材领料</ion-title>
  </ion-navbar>
  <form (submit)="scan()">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="bundle_no" name="bundle_no"
      (ionFocus)="focusInput()" (ionBlur)="blurInput()">
    </ion-searchbar>
  </form>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary">目标仓库</ion-label>
      <ion-select [(ngModel)]="item.target" interface="popover" okText="选择" cancelText="取消" placeholder="请选择">
        <ion-option *ngFor="let t of workshop_list" value="{{t.value}}" [disabled]="t.value===item.source">{{t.text}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div>
    <div class="ds-box" *ngFor="let bundle of item.bundles;let i=index">
      <div class="row" >
        <div class="col"style="font-size: large;color:green;white-space:nowrap" >          
            <ion-icon name="checkmark-circle-outline"></ion-icon>捆包号:{{bundle.bundleNo}}
        </div>
        <div class="col">         
            <p style="text-align: end; color: red;margin:1rem">重量:{{bundle.weight}}</p>                
        </div>
      </div>
      <div class="row">
        <div class="col">         
            <ion-icon name="contact"></ion-icon> {{bundle.supplier}}         
        </div>        
      </div>
      <div class="row">    
        <div class="col">
          <span>
            <ion-icon name="alarm-outline"></ion-icon>收货时间:{{dateFunction(bundle.received_time)}}
          </span>
          <br>
          <span style="font-size:small;color: red;margin:1rem;white-space:nowrap">剩余数量:{{bundle.actualReceivePieces}}</span>          
          <span style="font-size:small;color:silver;margin:1rem;white-space:nowrap">当前第{{i+1}}箱，共扫描{{item.bundles.length}}箱</span>
        </div>
          <button style="text-align: right;" ion-button color="danger" (click)="delete(i)">X</button>
        </div>
      </div>
  </div>
</ion-content>
<ion-footer>
<ion-row *ngIf="!show" (click)="showErr()" >
  <label  class="lbl_err">{{errors[0]?errors[0].message:''}}</label>
</ion-row>
<ion-row *ngIf="show" (click)="showErr()">
  <message-list [data]="errors"></message-list>
</ion-row>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light"(click)="cancel()">撤销</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="!item.bundles.length"
        (click)="showConfirm()">提交</button>
    </ion-col>
  </ion-row>
</ion-footer>
