<ion-header>
  <ion-navbar color="primary">
    <ion-title>冲压件入库</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (submit)="scan()">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="code" name="code"
      (ionFocus)="focusInput()" (ionBlur)="blurInput()">
    </ion-searchbar>
  </form>
  <ion-list>
    <ion-item>
      <ion-label color="primary">来源仓库</ion-label>
      <ion-select [(ngModel)]="item.target" interface="popover" (ngModelChange)="changWS()" okText="选择" cancelText="取消" placeholder="请选择">
        <ion-option *ngFor="let t of workshop_list" value="{{t.value}}">{{t.text}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div>
    <div class="ds-box" *ngFor="let part of item.parts;let i=index">
      <div class="row" style="letter-spacing:-1px;">
        <div class="col">
          <span style="color:green;font-size:x-large;white-space:nowrap;letter-spacing:-2px;"><ion-icon name="checkmark-circle-outline"></ion-icon> 料箱号:{{part.boxLabel}}</span><br>
           <span>
            捆包号:{{part.bundle_no}}
           </span>
        </div>           
      </div>
      <div class="row">
        <div class="col" style="white-space: nowrap;" >        
          <span><ion-icon name='ioc-cog'></ion-icon>{{part.partNo}}</span> 
        </div>    
        <div class="col">
          <span><ion-icon name="car"></ion-icon>车型:{{part.carModel}}</span>
        </div>         
      </div>
      <div class="row">        
          <div class="col col-75" style="letter-spacing:-1px;"><span>{{part.partName}}<ion-icon name="ion-cube"></ion-icon>箱型:{{part.boxModel}}</span>
          </div>          
      </div>
      <div class="row">
        <div class="col"><button ion-button item-end (click)="changeQty(part)" [color]='light'>修改入库数</button></div>
        <div class="col"><span style="font-size:small;color: red;">数量:{{part.currentParts}}</span>
          <br>
          <span style="font-size:small;color:gray;white-space:nowrap;">当前第{{i+1}}箱，共扫描{{item.parts.length}}箱</span>
        </div>        
        <div class="col">
          <button ion-button color="danger" (click)="delete(i)" style="text-align: right;" >X</button>
        </div>
      </div>
    </div>
  </div>
  <message-list [data]="errors"></message-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">撤销</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="!item.parts.length" (click)="save()">提交</button>
    </ion-col>
  </ion-row>
</ion-footer>
