<ion-header>
  <ion-navbar color="primary">
    <ion-title>退货接收</ion-title>
  </ion-navbar>
  <form (submit)="scan()">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="code" name="code" (ionFocus)="focusInput()" (ionBlur)="blurInput()">
    </ion-searchbar>
  </form>
</ion-header>

<ion-content>
  <div>
    <select  [(ngModel)]="item.InOut" interface="popover" style="width: 100%;height: 9%;">
      <option  style="width: 100%;height: 9%;" value="1">
        正常
      </option>
      <option  style="width: 100%;height: 9%;" value="0">
        可疑
      </option>
    </select>
    <div class="ds-box" *ngFor="let part of item.parts;let i=index">
      <div class="row">
          <div class="col" style="color:green;font-size:x-large;white-space:nowrap;">料箱号:{{part.boxLabel}}</div>
      </div>
      <div class="row">        
          <div class="col">{{part.partNo}}</div>
          <div class="col"><span style="text-align: right;"><ion-icon name="car"></ion-icon>车型:{{part.carModel}}</span></div>        
      </div>
      <div class="row">        
          <div class="col">{{part.partName}}</div>
          <div class="col"><span style="text-align: right;"><ion-icon name="box"></ion-icon>箱型:{{part.boxModel}}</span></div>      
      </div>
      <div class="row">
        <div class="col"><button ion-button item-end (click)="changeQty(part)" [color]='light'>修改入库数</button></div>
        <div class="col"><span style="text-align: left;font-size:small;color: red;">数量:{{part.currentParts}}</span>
          <br>
          <span style="text-align: left;font-size:small;color:gray;white-space:nowrap;">当前第{{i+1}}箱，共扫描{{item.parts.length}}箱</span>
        </div>        
        <div class="col" style="text-align: right;">
          <button ion-button color="danger" (click)="delete(i)"  >X</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-row *ngIf="!show" (click)="showErr()" >
    <label  class="lbl_err">{{errors[errors.length-1]?errors[errors.length-1].message:''}}</label>
  </ion-row>
  <ion-row *ngIf="show" (click)="showErr()">
    <message-list [data]="errors"></message-list>
  </ion-row>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">撤销</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="!item.parts.length"
        (click)="showConfirm()">提交</button>
    </ion-col>
  </ion-row>
</ion-footer>
