<ion-header>
  <ion-navbar color="primary">
    <ion-title>板材上料管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (submit)="scan()">
    <ion-searchbar #searchbar placeholder="扫描上料口/产线，光标在此处" [(ngModel)]="code" name="code" (ionFocus)="focusInput()" (ionBlur)="blurInput()">
    </ion-searchbar>
  </form>
  <ion-list>
    <ion-item>
      <ion-label color="primary">冲压线</ion-label>
      <ion-select [(ngModel)]="item.portNo" (ngModelChange)="clearPartPanel()" interface="popover" okText="选择" cancelText="取消" placeholder="请选择">
        <ion-option  *ngFor="let t of feedPort_list"  value="{{t.portNo}}">{{t.portName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div>
    <div class="ds-box" *ngFor="let p of item.partPanel; let i = index">
      <div class="row">
        <div class="col">
          <h4 style="margin: 0;white-space:nowrap;color:green;">
            <ion-icon name="checkmark-circle-outline"></ion-icon> 捆包号：{{p.bundleNo}}
          </h4>
            <br>
            <span style="font-size:small;color:gray;white-space:nowrap;">当前第{{i+1}}箱，共{{item.partPanel.length}}箱</span>
          
        </div>
        <div class="col">
          <span style="font-size:small;color: red;margin:1rem">可用重量：{{p.weight}}</span>
          <br>
          <span style="text-align: left;font-size:small;color: red;margin:1rem">剩余数量：{{p.actualReceivePieces}}</span>
        </div>        
      </div>
    </div>
  </div>
  <message-list [data]="errors"></message-list>
</ion-content>
<ion-footer>  
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light"  (click)="cancel()">取消(F1)</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="!item.partPanel.length"
        (click)="panelSubmit()">提交(F2)</button>
    </ion-col>
  </ion-row>
</ion-footer>
