<ion-header>

  <ion-navbar>
    <ion-title>封存零件</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="search()">
    <ion-searchbar placeholder="扫描或输入箱标签" [(ngModel)]="label" name="label"></ion-searchbar>
  </form>
  <ion-list *ngIf="scan_result.part_no">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col><h1>{{item.plant}}<small>工厂</small></h1></ion-col>
          <ion-col><h1>{{item.workshop}}<small>车间</small></h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>零件号：({{scan_result.part_no}}){{scan_result.part_name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>供应商：({{scan_result.supplier_id}}){{scan_result.supplier_name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>当前库存数：{{scan_result.current_parts}}</ion-col>
          <ion-col col-8>标准包装数：{{scan_result.packing_qty}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label color="primary">可疑箱数</ion-label>
      <ion-input type="number" text-right [(ngModel)]="item.pack_qty" placeholder="请输入可疑件箱数"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">可疑散件数</ion-label>
      <ion-input type="number" text-right [(ngModel)]="item.frag_qty" placeholder="请输入可疑散件数"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">可疑总数</ion-label>
      <ion-input type="number" text-right [(ngModel)]="part_count" placeholder="请输入可疑件数量" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">问题分类</ion-label>
      <ion-select [(ngModel)]="item.issue_class" interface="popover" okText="选择" cancelText="取消">
        <ion-option *ngFor="let p of issue_choose" value="{{p.value}}">{{p.text}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">取消</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" (click)="save()">确认封存</button>
    </ion-col>
  </ion-row>
</ion-footer>
