<ion-header>
  <ion-navbar color="primary">
    <ion-title>可疑品装框</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form (submit)="scanBox()">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="box_label" name="box_label"
      (ionFocus)="focusInput()" (ionBlur)="blurInput()">
    </ion-searchbar>
  </form>
  <select [(ngModel)]="item.bundle_no" interface="popover" style="width: 100%;height: 10%;">
    <option *ngFor="let t of feedPort_list" style="width: 100%;height: 10%;" value="{{t.bundle_no}}"> 
      {{t.port_name}}{{t.bundle_no}} 剩余{{t.remain_pieces}}
    </option>
  </select>

  <select [(ngModel)]="item.part_no" (ngModelChange)="changeFeed(item.part_no)" style="width: 100%;height: 10%;" interface="popover" >
  <option *ngFor="let t of pressPart_list"  style="width: 100%;height: 10%;" value="{{t.part_no}}">
   {{t.part_no}}{{t.part_name}} 消耗：{{t.usage}}
  </option>
</select>
  <ion-list *ngIf="item.box_label">
    <ion-item>
      <ion-label>料箱号</ion-label>
      <ion-icon name="qr_code"></ion-icon>
      <ion-label>{{item.box_label}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>车型</ion-label>
      <ion-icon name="car"></ion-icon>
      <ion-label>{{item.car_model}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>箱型</ion-label>
      <ion-icon name="box"></ion-icon>
      <ion-label>{{item.box_mode}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>装箱数量：</ion-label>
      <ion-label>{{item.current_parts}}</ion-label>
      <ion-label><button ion-button icon-end (click)="changeQty(item)">修改装箱信息</button></ion-label>
    </ion-item>
  </ion-list>
  <message-list [data]="errors"></message-list>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">撤销(F2)</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="!item.part_no"
        (click)="save()">提交(F1)</button>
    </ion-col>
  </ion-row>
</ion-footer>
