// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content-md{background-color: #f4f4f4}
.ds-box{
  margin:5px 0px;
  border:1px #ccc solid;
  //border-radius:5px;
  padding:5px;
  background-color: #ffffff;
}
.ds-box> h4{font-weight: 500; margin-bottom: .5rem;}
.ds-box> h5{font-weight: 300; margin-bottom: .5rem; margin-top:.5rem}
.ds-box> p{color:#8c8c8c; margin: .5rem 0px;}


.error{
  .toast-wrapper {
    background: #a94442;
  }
}
//自定toast的颜色（success）
.success{ 
  .toast-wrapper {
    background: #3c763d;
  }
}
//自定toast的颜色（success）
.tip{ 
  .toast-wrapper {
    background: #000000;
  }
}
////修改toast出现的位置和显示的高
//.toast-md .toast-wrapper.toast-top {
//  top: 47px;
//  height: 33px;
//}
////前面两行是修改文字居中显示
////修改文字显示的字体大小和距离顶部高度
//.toast-md .toast-message {
//  display:flex;
//  justify-content:center;
//  font-size: .8em;
//  padding-top: 8px;
//}

.alert-message{
  margin-left: 0;
  padding-left: 10px;
}
.alert-message>li{
  list-style-type: none;
  margin-left: 0;
}
.alert-message>li.danger{
  color:#f53d3d;
}
.alert-message>li.info{
  color:#007aff;
}
.alert-message>li.success{
  color:#2ec95c;
}
.item-block{min-height: 0em;}
.searchbar .searchbar-input-container .searchbar-search-icon {
  @extend ion-icon;
  @extend .ion-md-qr-scanner;
  background-image: none;
  font-size: 2.2rem;
}