<ion-header>
  <ion-navbar color="primary">
    <ion-title>常规入库</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (submit)="scan()">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="code" name="scan" maxlength="24"></ion-searchbar>
  </form>

  <ion-list *ngIf="scanFlag>0">
    <ion-item no-padding>
      <ion-grid>
        <ion-row>
          <ion-col><h2>{{sheet.sheet_no}}</h2></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><h2>{{sheet.plant}}<small>工厂</small></h2></ion-col>
          <ion-col><h2>{{sheet.supplier_id}}<small>车间</small></h2></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <div>
    <div class="ds-box" *ngFor="let p of parts">
      <h4 no-margin>零件：{{p.part_no}} {{p.part_name}}</h4>
      <h5>
        <ion-icon name="contact"></ion-icon> {{p.supplier_name? p.supplier_name: '（请选择供应商）'}}
      </h5>
      <p>
        需求{{p.required_pack_count}}箱，共{{p.required_part_count}}件（包装数{{p.pack_stand_qty}}）
      </p>
      <button ion-button outline (click)="changeQty(p)" [color]="bgColor(p)">
        本次出库{{p.received_pack_count}}箱，共{{p.received_part_count}}件
      </button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="danger" [disabled]="!scanFlag" (click)="cancel()">关闭</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="!scanFlag" (click)="inbound()">提交入库</button>
    </ion-col>
  </ion-row>
</ion-footer>
