<ion-header>
  <ion-navbar color="primary">
    <ion-title>冲压件出库</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (submit)="scan()">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="code" name="code" (ionFocus)="focusInput()" (ionBlur)="blurInput()">
    </ion-searchbar>
  </form>
  <ion-list>
    <ion-item>
      <ion-label color="primary">目标仓库</ion-label>
      <ion-select [(ngModel)]="item.workshop" interface="popover" (ngModelChange)="changWS()" okText="选择" cancelText="取消" placeholder="请选择">
        <ion-option value=""></ion-option>
        <ion-option *ngFor="let t of workshop_list" value="{{t.value}}">{{t.text}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div>
    <div class="ds-box" *ngFor="let part of item.parts;let i=index">
      <div class="row">
        <div class="col">料箱号：{{part.boxLabel}}</div>
        <div class="col">捆包号：{{part.bundle_no}}</div>
      </div>
      <div class="row">        
          <div class="col">{{part.partNo}}</div>
          <div class="col">车型: {{part.carModel}}</div>        
      </div>
      <div class="row">        
          <div class="col">{{part.partName}}</div>
          <div class="col">箱型: {{part.boxModel}} </div>      
      </div>
      <div class="row" style="margin: 0;">
        <div class="col"><button ion-button item-end (click)="changeQty(part)" [color]='light'>修改出库数</button></div>
        <div class="col"><span style="float: left;font-size:small;color: red;margin:1rem">数量：{{part.packingQty}}</span>
       <br>
        <span style="float: left;font-size:small;color:gray;margin:1rem">当前第{{i+1}}箱，共扫描{{scanCount}}箱</span> </div>
        <div class="col">
          <button ion-button color="danger" (click)="delete(i)" style="float: right;">X</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div>
    <div class="ds-box" *ngFor="let part of item.parts;let i=index">
      <h4>
        <ion-icon name="qr_code" style="color:green"></ion-icon> 料箱号：{{part.boxLabel}}
         捆包号：{{part.bundle_no}}
      </h4>
      <h5>
        <ion-icon name="part"></ion-icon> {{part.partNo}}
        <ion-icon name="car"></ion-icon>车型: {{part.carModel}}
        
      </h5>
      <h5>
        {{part.partName}}
        <ion-icon name="box"></ion-icon>箱型: {{part.boxModel}}
      </h5>
      <tr>
        <td>
          <button ion-button item-end (click)="changeQty(part)"  [color]='light'>修改出库数</button>
        </td>
        <td>
          <tr>
             <span style="float: left;font-size:small;color: red;margin:1rem">数量：{{part.packingQty}}</span>
          </tr>
          <tr>
            <span style="float: left;font-size:small;color: red;margin:1rem">当前第{{i+1}}箱，共扫描{{scanCount}}箱</span>
          </tr>
      </td>
      </tr> 
          <button ion-button color="danger" (click)="delete(i)" icon-end>X</button>                
    </div>
  </div> -->
  <message-list [data]="errors"></message-list>
</ion-content>
<ion-footer>  
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">取消(F1)</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="isSave"
        (click)="save()">提交(F2)</button>
    </ion-col>
  </ion-row>
</ion-footer>
