<ion-header>
  <ion-navbar color="primary">
    <ion-title>移库</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (submit)="scan()" *ngIf="item.trans_code">
    <ion-searchbar #searchbar placeholder="扫描或输入箱标签码以添加零件" [(ngModel)]="label" name="label"></ion-searchbar>
  </form>
  <ion-list>
    <ion-item>
      <ion-label color="primary">移动类型</ion-label>
      <ion-select [(ngModel)]="item.trans_code" interface="popover" (ngModelChange)="onChangeTrans($event)" okText="选择" cancelText="取消" placeholder="请选择">
        <ion-option *ngFor="let t of trans_list" value="{{t.transaction_code}}">{{t.transaction_name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-padding *ngIf="item.trans_code">
      <ion-grid>
        <ion-row>
          <ion-col><h2>{{item.plant}}<small>工厂</small></h2></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><h2>{{item.source}}<small>源车间</small></h2></ion-col>
          <ion-col><h2>{{item.target}}<small>目标车间</small></h2></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <div>
    <div class="ds-box" *ngFor="let p of item.parts">
      <h4 no-margin>零件：{{p.part_no}} {{p.part_name}}</h4>
      <h5><ion-icon name="contact"></ion-icon> {{p.supplier_name}}</h5>
      <p>当前库存{{p.current_boxes}}箱，共{{p.current_parts}}件（包装数{{p.std_qty}}）</p>
      <button ion-button item-end (click)="changeQty(p)">
        移库{{p.require_boxes}}箱，共{{p.require_parts}}件
      </button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">关闭</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" (click)="save()">保存移库</button>
    </ion-col>
  </ion-row>
</ion-footer>
