<ion-header>
  <ion-navbar color="primary">
    <ion-title>移库</ion-title>
    <ion-buttons end>
      <button ion-button color="light">源仓库:{{item.source}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (submit)="scan()" *ngIf="item.target">
    <ion-searchbar #searchbar placeholder="扫描箱标签码" [(ngModel)]="label" name="label" (ionFocus)="focusInput()" (ionBlur)="blurInput()"></ion-searchbar>
  </form>
  <ion-list>
    <ion-item>
      <ion-label color="primary">目的仓库</ion-label>
      <ion-select [(ngModel)]="item.target" interface="popover" okText="选择" cancelText="取消" placeholder="请选择">
        <ion-option *ngFor="let t of workshop_list" value="{{t.value}}" [disabled]="t.value===item.source">{{t.text}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div>
    <div class="ds-box" *ngFor="let p of item.parts">
      <h4 no-margin>零件：{{p.part_no}}({{p.part_name}})</h4>
      <h5><ion-icon name="contact"></ion-icon> {{p.supplier_name}}</h5>
      <h4><small>扫箱<b>{{p.require_boxes}}</b>次共<b>{{p.require_parts}}</b>件（包装数{{p.std_qty}}）</small></h4>
      <button ion-button item-end (click)="changeQty(p)" [color]="p.require_parts % p.std_qty != 0 ? 'danger': 'light'">非标</button>
    </div>
  </div>
  <ul class="alert-message">
    <li *ngFor="let e of errors" [ngClass]="{'danger': e.type===0, 'info': e.type===1,  'success': e.type===2}">{{e.time|date:'mm:ss'}}&nbsp;{{e.message}}</li>
  </ul>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">返回(F2)</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" (click)="save()">提交(F1)</button>
    </ion-col>
  </ion-row>
</ion-footer>
