<ion-header>
  <ion-navbar color="primary">
    <ion-title>退货管理</ion-title>
  </ion-navbar>
  <form (submit)="scan()">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="code" name="code"
      (ionFocus)="focusInput()" (ionBlur)="blurInput()">
    </ion-searchbar>
  </form>
</ion-header>

<ion-content>
  <div class="ds-box" *ngIf="item.partPanel.length">
    <div class="row" >
      <ion-input [(ngModel)]="item.remark" (ionFocus)="onFocus()" placeholder="退货原因"></ion-input>
    </div>
  </div>  
  <div>
    <div class="ds-box" *ngFor="let part of item.partPanel;let i=index">      
      <div class="row">
        <div class="col">
            <ion-icon name="checkmark-circle-outline" style="color:green;"></ion-icon>
            <span style="font-size: large;color:green;white-space:nowrap;letter-spacing:-1px">捆包号:{{part.bundleNo}}</span> 
            <span style="color: red;margin:1rem;letter-spacing:-1px">重量:{{part.weight}} </span>
        </div>
      </div>
      <div class="row">
        <ion-icon name="ios-contact"></ion-icon>{{part.supplier}}
      </div>
      <div class="row"> 
        <ion-col>
          <button ion-button item-end (click)="changeQty(part)" [color]='light'>修改退货信息</button>
        </ion-col>  
          <ion-col>
            <span style="font-size:small;color: red;margin:1rem;white-space:nowrap">
              数量:{{part.actualReceivePieces}}            
            </span> 
            <br>  
            <span style="font-size:small;color:silver;margin:1rem;white-space:nowrap">当前第{{i+1}}箱，共扫描{{item.partPanel.length}}箱</span>
          </ion-col>
          <ion-col> 
            <span style="float: right;"><button ion-button color="danger" (click)="delete(i)">X</button></span>
          </ion-col>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-row *ngIf="!show" (click)="showErr()" >
    <label  class="lbl_err">{{errors[0]?errors[0].message:''}}</label>
  </ion-row>
  <ion-row *ngIf="show" (click)="showErr()">
    <message-list [data]="errors"></message-list>
  </ion-row>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">撤销</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="!item.partPanel.length"
        (click)="showConfirm()">提交</button>
    </ion-col>
  </ion-row>
</ion-footer>