<ion-header>
  <ion-navbar color="primary">
    <ion-title>盘点料箱</ion-title>
  </ion-navbar>
  <form (submit)="searchPart()">
    <ion-searchbar #searchbar placeholder="扫描或录入料箱标签" [(ngModel)]="label" name="code" maxlength="19"
      (ionFocus)="focusInput()" (ionBlur)="blurInput()"></ion-searchbar>
  </form>
</ion-header>
<ion-content>
  <ion-list *ngIf="data.plant">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>{{data.code}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1>{{data.plant}}<small>工厂</small></h1>
          </ion-col>
          <ion-col>
            <h1>{{data.workshop}}<small>车间</small></h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <div  *ngIf="current_part">
    <span [ngClass]="{'text-detailed': true}">共{{total_wuliao}}种物料，已盘点{{alr_wuliao}}种物料，该物料共{{total_boxs}}箱</span>
    <ion-row>
      <ion-col no-padding>
        <button no-margin ion-button full auto color="balanced" (click)="doDetailed(this.current_part.part_no)">查询箱明细</button>
      </ion-col>
      <ion-col no-padding>
        <button no-margin ion-button full auto color="balanced" (click)="showConfirm(1)">零件盘点完成</button>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-item>
        <ion-label col-4>库位</ion-label>
        <ion-label col-8 text-end>{{current_part.dloc}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4>零件号</ion-label>
        <ion-label col-8 text-end>{{current_part.part_no}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4>零件名称</ion-label>
        <ion-label col-8 text-end>{{current_part.part_name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4>供应商</ion-label>
        <ion-label col-8 text-end>{{current_part.supplier_id}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4>料箱号</ion-label>
        <ion-label col-8 text-end>{{current_part.box}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary">实盘件数</ion-label>
        <ion-input type="number" [color]="current_part.real_qty? 'secondary' : 'danger'" text-right (blur)="changeQ()"
          [(ngModel)]="current_part.real_qty" placeholder="请输入实盘零件数"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>累计实盘箱数:{{sum_box_Qty}}</ion-label>
        <ion-label>累计实盘件数:{{sum_box_partQty}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-row *ngIf="!show" (click)="showErr()" >
    <label  class="lbl_err">{{errors[0]?errors[0].message:''}}</label>
  </ion-row>
  <ion-row *ngIf="show" (click)="showErr()">
    <message-list [data]="errors"></message-list>
  </ion-row>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">撤销</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large [disabled]="!current_part" color="primary" (click)="showConfirm(2)">盘点完成</button>
    </ion-col>
  </ion-row>
</ion-footer>
