<ion-header>
  <ion-navbar color="primary">
    <ion-title>冲压件合框</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (submit)="scan()">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="code" (ionFocus)="focusInput()" (ionBlur)="blurInput()" name="code">
    </ion-searchbar>
  </form>
  <ion-label *ngIf="sourceItem.parts.length"><h3>源料箱：</h3></ion-label>
  <div>
    <div class="ds-box" *ngFor="let part of sourceItem.parts;let i=index">
      <h4>
        <ion-icon name="qr_code" style="color:green"></ion-icon> 料箱号：{{part.boxLabel}}
      </h4>
      <h5>
        <ion-icon name="part"></ion-icon> {{part.partNo}}
        <ion-icon name="car" ion-end></ion-icon>车型: {{part.carModel}}        
      </h5>
      <h5>
        {{part.partName}}
        <ion-icon name="box"></ion-icon>箱型: {{part.boxModel}}
      </h5>
      <tr>
        <td>
          <button ion-button item-end (click)="changeQty(part)"  [color]='light'>修改出库数</button>
        </td>
        <td>
          <tr>
             <span style="float: left;font-size:small;color: red;margin:1rem">数量：{{part.packingQty}}</span>
          </tr>
          <tr>
            
          </tr>
      </td>
      </tr> 
          <button ion-button color="danger" (click)="delete(i)" icon-end>X</button>                
    </div>
  </div>
  <ion-label *ngIf="targetItem.parts.length"><h3>目标料箱：<ion-icon name="arrow"></ion-icon></h3></ion-label>
  <div>
    <div class="ds-box" *ngFor="let part of targetItem.parts;let i=index">
      <h4>
        <ion-icon name="qr_code" style="color:green"></ion-icon> 料箱号：{{part.boxLabel}}
        <ion-icon name="car" ion-end></ion-icon>车型: {{part.carModel}}
      </h4>
      <h5>
        <ion-icon name="part"></ion-icon> {{part.partNo}}
        <ion-icon name="box"></ion-icon>箱型: {{part.boxModel}}
        
      </h5>
      <h5>
        {{part.partName}}        
      </h5>
      <tr>
        <!-- <td>
          <button ion-button item-end (click)="changeQty(part)"  [color]='light'>修改出库数</button>
        </td> -->
        <td>
          <tr>
             <span style="float: left;font-size:small;color: red;margin:1rem">数量：{{part.packingQty}}</span>
          </tr>          
      </td>
      </tr> 
          <button ion-button color="danger" (click)="delete(i)" icon-end>X</button>                
    </div>
  </div>
  <message-list [data]="errors"></message-list>
</ion-content>
<ion-footer>  
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">取消(F1)</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="!sourceItem.parts.length&&!targetItem.parts.length"
        (click)="save()">提交(F2)</button>
    </ion-col>
  </ion-row>
</ion-footer>
