<ion-header>
  <ion-navbar color="primary">
    <ion-title>冲压件合框</ion-title>
  </ion-navbar>
  <form (submit)="scan()">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="code" (ionFocus)="focusInput()" (ionBlur)="blurInput()" name="code">
    </ion-searchbar>
  </form>
</ion-header>
<ion-content >
  <h3 *ngIf="sourceItem.parts.length">源料箱:</h3>
  <div>
    <div class="ds-box" *ngFor="let part of sourceItem.parts;let i=index">
      <div class="row">
          <div class="col" style="color:green;font-size:x-large;white-space:nowrap;"><ion-icon name="checkmark-circle-outline"></ion-icon>料箱号:{{part.boxLabel}}</div>
      </div>
      <div class="row">        
          <div class="col">{{part.partNo}}</div>
          <div class="col"><span style="text-align: right;"><ion-icon name="car"></ion-icon>车型:{{part.carModel}}</span></div>        
      </div>
      <div class="row">        
          <div class="col">{{part.partName}}</div>
          <div class="col"><span style="text-align: right;"><ion-icon name="box"></ion-icon>箱型:{{part.boxModel}}</span></div>      
      </div>
      <div class="row">
        <div class="col"><button ion-button item-end (click)="changeQty(part)" [color]='light'>修改合框数</button></div>

        <div class="col">
          <span style="text-align: left;font-size:small;">当前装箱数:{{part.currentParts}}</span><br>
          <span style="text-align: left;font-size:small;color: red;">合框数:{{part.closeframeParts}}</span>          
        </div>        
        <div class="col">
          <button ion-button color="danger" (click)="delete(0)" style="float: right;" >X</button>
        </div>
      </div>
    </div>
  </div>
  <ion-row>

  </ion-row>
  <h3 *ngIf="targetItem.parts.length">目标料箱:</h3>
  <div>
    <div class="ds-box" *ngFor="let part of targetItem.parts;let i=index">
      <div class="row">
          <div class="col" style="color:green;font-size:x-large;white-space:nowrap;">料箱号:{{part.boxLabel}}</div>
      </div>
      <div class="row">        
          <div class="col">{{part.partNo}}</div>
          <div class="col"><span style="text-align: right;"><ion-icon name="car"></ion-icon>车型:{{part.carModel}}</span></div>        
      </div>
      <div class="row">        
          <div class="col">{{part.partName}}</div>
          <div class="col"><span style="text-align: right;"><ion-icon name="box"></ion-icon>箱型:{{part.boxModel}}</span></div>      
      </div>
      <div class="row">
        <div class="col"><span>包装数:{{part.packingQty}}</span></div>
        <div class="col"><span style="text-align: left;font-size:small;color: red;">当前装箱数:{{part.currentParts}}</span>          
        </div>        
        <div class="col" >
          <button ion-button color="danger" (click)="delete(1)" style="float: right;" >X</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>  
  <ion-row *ngIf="!show" (click)="showErr()" >
    <label  class="lbl_err">{{errors[0]?errors[0].message:''}}</label>
  </ion-row>
  <ion-row *ngIf="show" (click)="showErr()">
    <message-list [data]="errors"></message-list>
  </ion-row>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">撤销</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="(sourceItem.parts.length + targetItem.parts.length)!=2"
        (click)="showConfirm()">提交</button>
    </ion-col>
  </ion-row>
</ion-footer>
