<ion-header>
  <ion-navbar color="primary">
    <ion-title>冲压件装框</ion-title>
  </ion-navbar>
  <form (submit)="scanBox()">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="box_label" name="box_label"
      (ionFocus)="focusInput()" (ionBlur)="blurInput()">
    </ion-searchbar>
  </form>
</ion-header>
<ion-content>
  <select [(ngModel)]="item.bundle_no" (ngModelChange)="changeFeed(item.bundle_no)" interface="popover" style="width: 100%;height: 8%;">
    <option *ngFor="let t of item.feedingPort" style="width: 100%;height: 8%;" value="{{t.bundle_no}}">
      {{t.port_name}}&nbsp;{{t.bundle_no}}&nbsp;剩余数量:{{t.remain_pieces}}
    </option>
  </select>
  <select [(ngModel)]="item.part_no" (ngModelChange)="changePart(item.part_no)" style="width: 100%;height: 8%;"
    interface="popover">
    <option *ngFor="let t of item.pressPart" style="width: 100%;height: 8%;" value="{{t.part_no}}">
      {{t.part_no}}&nbsp;{{t.part_name}}&nbsp;消耗:{{t.usage}}
    </option>
  </select>
  <ion-list *ngIf="item.box_label">
    <ion-item>
      <ion-label><ion-icon name="ios-cube"></ion-icon>料箱号:&nbsp;{{item.box_label}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="car"></ion-icon>车型:&nbsp;{{item.car_model}}
      </ion-label>
      <ion-label>
        <ion-icon name="ios-cube"></ion-icon>箱型:&nbsp;{{item.box_mode}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="color: red;">装箱数量:&nbsp;{{item.current_parts}}&nbsp;<button ion-button icon-end
          (click)="changeQty(item)">修改装箱信息</button>&nbsp;
      <button color="danger" (click)="delect()" ion-button icon-end>X</button>
      </ion-label>
    </ion-item>
  </ion-list>

    <h4 *ngIf="(item.part_type==2||item.part_type==3)">零件组:{{item.parts_group}}</h4>
    <select *ngIf="(item.part_type==2||item.part_type==3)" (ngModelChange)="changeZi(ziPart.part_no)"  [(ngModel)]="ziPart.part_no" style="width: 100%;height: 8%;" interface="popover">
      <option *ngFor="let t of item.pressPartGroup" style="width: 100%;height: 8%;" value="{{t.part_no}}">
        {{t.part_no}}&nbsp;{{t.part_name}}&nbsp;消耗:{{t.usage}}
      </option>
    </select>
    <select *ngIf="((item.part_type==2||item.part_type==3)&&ziPart.bundle_no!='')" [(ngModel)]="ziPart.bundle_no" interface="popover"
      style="width: 100%;height: 8%;">
      <option *ngFor="let t of item.feedingPortGroup;let i=index" style="width: 100%;height: 8%;"
        value="{{t.bundle_no}}">
        捆包号:{{t.bundle_no}}&nbsp;剩余数量:{{t.remain_pieces}}
      </option>
    </select>
      <select *ngIf="item.feedingPortGroup.length==0 && ziPart.bundle_no==''&&(item.part_type==2||item.part_type==3)" class="red" style="width: 100%;height: 8%;">
        <option selected = "selected">       
         当前上料口没有和它方向相同的捆包
        </option>
      </select> 
    <ion-list *ngIf="(item.part_type==2||item.part_type==3)">
      <ion-item>
        <ion-label><ion-icon name="ios-cube"></ion-icon>料箱号:&nbsp;{{ziPart.box_label}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="car"></ion-icon>车型:&nbsp;{{ziPart.car_model}}
        </ion-label>
        <ion-label>
          <ion-icon name="ios-cube"></ion-icon>箱型:&nbsp;{{ziPart.box_mode}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="color: red;">装箱数量:&nbsp;{{ziPart.current_parts}}</ion-label>
        <ion-label><button ion-button icon-end (click)="changeQty(ziPart)">修改装箱信息</button></ion-label>
      </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
  <ion-row *ngIf="!show" (click)="showErr()" >
    <label  class="lbl_err">{{errors[errors.length-1]?errors[errors.length-1].message:''}}</label>
  </ion-row>
  <ion-row *ngIf="show" (click)="showErr()">
    <message-list [data]="errors"></message-list>
  </ion-row>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">撤销</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" [disabled]="!item.box_label"
        (click)="showConfirm()">提交</button>
    </ion-col>
  </ion-row>
</ion-footer>
