<ion-header>
  <ion-navbar color="primary">
    <ion-title>库存盘点</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (submit)="search()">
    <ion-searchbar placeholder="扫描或录入盘点单号" [(ngModel)]="data.code" name="code"></ion-searchbar>
  </form>
  <ion-list *ngIf="data.plant">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col><h1>{{data.plant}}<small>工厂</small></h1></ion-col>
          <ion-col><h1>{{data.workshop}}<small>车间</small></h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>盘点类型：{{data.type}}</ion-col>
          <ion-col>盘点模式：{{data.mode}}</ion-col>
        </ion-row>
        <ion-row *ngIf="data.remark">
          <ion-col>备注：{{data.remark}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-item-group>
    <ion-item-divider color="light">盘点零件</ion-item-divider>
    <ion-item>
      <ion-label>右仪表板饰板</ion-label>
      <ion-label text-end></ion-label>
    </ion-item>
    <ion-item class="bg-light-gray">
      <ion-label>车顶饰条安装卡扣</ion-label>
      <ion-label text-end>11</ion-label>
    </ion-item>
    <ion-item class="bg-light-gray">
      <ion-label>左天窗安装支架</ion-label>
      <ion-label text-end>102</ion-label>
    </ion-item>
    <ion-item>制动硬管组件</ion-item>
    <ion-item>收音机后侧门扬声器总成</ion-item>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button no-margin ion-button full large color="light" (click)="cancel()">取消</button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full large color="primary" (click)="save()">提交盘点结果</button>
    </ion-col>
  </ion-row>
</ion-footer>
